# version: "3"

services:
  catalog_db_server:
    image: "postgres:14.0"
    ports:
      - "5433:5432"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: catalog_db
      POSTGRES_PASSWORD: catalog_db_password
      POSTGRES_DB: catalog_service
    volumes:
    - ./db-data/catalog_db_service/:/var/lib/postgresql/data

  order_db_server:
    image: "postgres:14.0"
    ports:
      - "5437:5432"  
      # default port for postgres docker is 5432
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: order_db
      POSTGRES_PASSWORD: order_db_password
      POSTGRES_DB: order_service
    volumes:
      - ./db-data/order_db_service/:/var/lib/postgresql/data
  
  user_db_server:
    image: "postgres:14.0"
    ports:
      - "5439:5432"  
      # default port for postgres docker is 5432
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: user_db
      POSTGRES_PASSWORD: user_db_password
      POSTGRES_DB: user_service
    volumes:
      - ./db-data/user_db_service/:/var/lib/postgresql/data
  
  # version: "3.8"
  redis:
    image: redis:7-alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    restart: unless-stopped
  volumes:
    redis-data:

  
